<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Gif</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    <style>
    body {
      height: 900px;
      background-color: #6E60FF;
      background-image: linear-gradient(#F260FF, #6E60FF);
    }
    </style>
    <div class="container-fluid">
      <br>
      <center><h3>You Are Feeling <b><%= get_mood %></b>. Here is a GIF for that:</h3></center>
      <br>
    <center><iframe src=<%= @user_choice %> width="480" height="313" frameBorder="0" class="giphy-embed"></iframe></center>
    <form method="post" action="/index">
    <center><input class="button" type="submit" value="Try Another"></center>
    </form>
    </div>
    
  </body>
</html>
